<div class="text-center">
  <h2>Forgot your password?</h2>

  <div class="actions">
    <%= link_to "Send me reset password instructions", reset_password_path, class: "btn btn-primary-outline", ethod: :post %>
  </div>

</div>
