<div class="container">
  <div class="dashhead">
    <div class="dashhead-titles">
      <h3 class="dashhead-title">Returns Overview</h3>
    </div>

  </div>
  <div class="flextable table-actions">
    <div class="flextable-item flextable-primary">
      <div class="btn-toolbar-item input-with-icon pull-left">
        <input type="text" class="form-control input-block" placeholder="Search orders">
        <span class="icon icon-magnifying-glass"></span>
      </div>
    </div>
  </div>

  <ul class="nav nav-bordered m-b-0" role="tablist">
    <li class="active" role="presentation">
      <a href="#outstanding" role="tab" data-toggle="tab" aria-controls="outstanding">Outstanding Returns</a>
    </li>
    <li role="presentation">
      <a href="#all" role="tab" data-toggle="tab" aria-controls="all">All Returns</a>
    </li>
    <li role="presentation">
      <a href="#search" role="tab" data-toggle="tab" aria-controls="search">Search Results</a>
    </li>
  </ul>

  <hr class="m-t-0 m-b-0">

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="outstanding">
      <div class="table-full">
        <div class="table-responsive">
          <table class="table" data-sort="table">
            <thead>
              <tr>
                <th class="text-center">Manufacturer</th>
                <th class="text-center">Brand</th>
                <th class="text-center">Frame Count</th>
                <th class="text-center">RA Number</th>
                <th class="text-center">RA Date</th>
                <th class="text-center">CM Number</th>
                <th class="text-center">CM Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Marchon</td>
                <td>Calvin Klein</td>
                <td>5</td>
                <td><a href="#">2394239</a></td>
                <td>01/28/2016</td>
                <td>46929234</td>
                <td>03/28/2016</td>
                <td><span class="icon icon-pencil"></span></td>
                <td><span class="icon icon-trash"></span></td>
              </tr>
              <tr>
                <td>Marchon</td>
                <td>Calvin Klein</td>
                <td>5</td>
                <td><a href="#">2394239</a></td>
                <td>01/28/2016</td>
                <td>46929234</td>
                <td>03/28/2016</td>
                <td><span class="icon icon-pencil"></span></td>
                <td><span class="icon icon-trash"></span></td>
              </tr>
              <tr>
                <td>Marchon</td>
                <td>Calvin Klein</td>
                <td>4</td>
                <td><a href="#">2394239</a></td>
                <td>01/28/2016</td>
                <td>46929234</td>
                <td>03/28/2016</td>
                <td><span class="icon icon-pencil"></span></td>
                <td><span class="icon icon-trash"></span></td>
              </tr>
              <tr>
                <td>Marchon</td>
                <td>Calvin Klein</td>
                <td>2</td>
                <td><a href="#">2394239</a></td>
                <td>01/28/2016</td>
                <td>46929234</td>
                <td>03/28/2016</td>
                <td><span class="icon icon-pencil"></span></td>
                <td><span class="icon icon-trash"></span></td>
              </tr>
              <tr>
                <td>Marchon</td>
                <td>Calvin Klein</td>
                <td>5</td>
                <td><a href="#">2394239</a></td>
                <td>01/28/2016</td>
                <td>46929234</td>
                <td>03/28/2016</td>
                <td><span class="icon icon-pencil"></span></td>
                <td><span class="icon icon-trash"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="all">
    </div>

    <div role="tabpanel" class="tab-pane" id="search">
    </div>
  </div>

  <div class="text-center">
    <ul class="pagination">
      <li>
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li>
        <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </div>

</div>

