
<div class="dashhead">
  <div class="dashhead-titles">
    <h3 class="dashhead-title">Returns Overview</h3>
  </div>
</div>

<div class="pull-right">
  <div class="btn-group">
    <%= button_to "New Return", new_return_path, class: "btn btn-primary-outline", method: :get %>
  </div>
</div>

<select class="custom-select custom-select-sm m-filter">
  <option>Filter By Manufacturer</option>
  <option>Marchon</option>
  <option>Luxottica</option>
  <option>Marcolin</option>
</select>

<select class="custom-select custom-select-sm b-filter">
  <option>Filter By Brand</option>
  <option>Calvin Klein</option>
  <option>Nike</option>
  <option>Ray Ban</option>
  <option>Tom Ford</option>
</select>

<ul class="nav nav-bordered m-b-0 return-tabs" role="tablist">
  <li role="presentation">
    <a href="#all" role="tab" data-toggle="tab" aria-controls="all">All Returns</a>
  </li>
  <li class="active" role="presentation">
    <a href="#outstanding" role="tab" data-toggle="tab" aria-controls="outstanding">Outstanding Returns</a>
  </li>
  <li role="presentation">
    <a href="#filter" role="tab" data-toggle="tab" aria-controls="filter">Filtered Returns</a>
  </li>
</ul>

<hr class="m-t-0 m-b-0">

<div class="tab-content">
  <div role="tabpanel" class="tab-pane" id="all">
    <%= render 'table', returns: @returns %>
  </div>

  <div role="tabpanel" class="tab-pane active" id="outstanding">
    <%= render 'table', returns: @outstanding %>
  </div>

  <div role="tabpanel" class="tab-pane" id="filter">
  </div>
</div>

<!-- <div class="text-center">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</div> -->
