// Place all the styles related to the Manufacturers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.m-name:hover {
  cursor: pointer;
}

.table tr.m-row.active td{
  background-color: #e5f2fb;
}

.m-name a:hover,
.m-name a:focus {
  text-decoration: none;
  color: #1CA8DD;
}
