<div class="hr-divider">
  <h3 class="hr-divider-content">Manage Brands</h3>
</div>

<div class="list-container">
  <div class="brand-list">
    <%= render 'list' %>
  </div>
</div>

<%= render 'layouts/modal', layout: false %>
