<div class="hr-divider">
  <h3 class="hr-divider-content">Manage Manufacturers & Brands</h3>
</div>

<div class="list-container row">
  <div class="manufacturer-list">
    <%= render 'list' %>
  </div>

  <div class="brand-list">
  </div>
</div>

<div class="row">
  <%= link_to "Back", root_path, class: "btn btn-primary-outline" %>
</div>

<%= render 'layouts/modal', layout: false %>
