<div class="hr-divider">
  <h3 class="hr-divider-content">Manage Manufacturers & Brands</h3>
</div>

<div class="manufacturer-list">
  <%= render 'list' %>
</div>

<%= render 'layouts/modal', layout: false %>
