<nav class="nav navbar-fixed-top navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <strong class="main-header">Eye City Optometry</strong>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="text-muted">Returns <b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu">
                        <% if current_admin %>
                            <li>
                                <%= link_to 'Home', root_path %>
                            </li>
                            <li>
                                <%= link_to "My Account", edit_admin_registration_path %>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <%= link_to "Logout", destroy_admin_session_path, method: :delete %>
                            </li>
                        <% else %>
                            <li>
                                <%= link_to 'Login', new_admin_session_path %>
                            </li>
                        <% end %>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>
